<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust Wonders</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css?v=<%= Date.now() %>">
</head>
<body>
  <%- include("header.ejs") %> 

  <!-- Hero Image -->

<div class="container-fluid p-0">
    <div class="position-relative text-center text-white">
        <img src="/images/Glico man.jpg" class="img-fluid w-100" style="height: 900px; object-fit: cover;" alt="Glico man">

       
        <div class="overlay"></div>  <!-- Dark Overlay -->
        <div class="position-absolute top-0 start-50 translate-middle-x mt-5">
            <h1 class="display-3 fw-bold">Welcome to Wanderlust Wonders</h1>
            <p class="lead fs-3 fw-normal">Your go-to space for sharing travel tales, tips and top destinations!</p>
            <p class="text-center fs-4 fw-normal">Whether you're a solo adventurer, reminiscing about your first trip or a seasoned traveller with insider recommendations, this is where your journey comes to life.</p>
            <p class="text-center fs-4 fw-normal">Create posts, inspire others and showcase your travel wisdom. Let’s wander together and discover the world, one story at a time!</p> 
                
            <a href="/create" class="btn btn-dark btn-lg">Write a post</a>
        </div>
 </div>
</div>

<div class="container my-5">
    <div class="row g-4">

        <!-- Blog Post 1 -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <img src="/images/Lake bled.jpg" class="card-img-top" alt="Lake Bled">
                <div class="card-body">
                    <p class="card-author">Posted by Rida Siddique, 09/09/2024</p>
                    <h5 class="card-title">Exploring Slovenia: Lake Bled</h5>
                    <p class="card-text">A journey through the breathtaking landscapes of Slovenia.</p>
                    <a href="/post1" class="btn btn-dark">Read More</a>
                </div>
            </div>
        </div>

        <!-- Blog Post 2 -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <img src="/images/Tsutenkaku.jpg" class="card-img-top" alt="Tsutenkaku">
                <div class="card-body">
                    <p class="card-author">Posted by Rida Siddique, 11/12/2024</p>
                    <h5 class="card-title">Osaka: A Food Lover’s Paradise</h5>
                    <p class="card-text">From street food in Dotonbori to Michelin stars, Osaka has it all.</p>
                    <a href="/post2" class="btn btn-dark">Read More</a>
                </div>
            </div>
        </div>


          <!-- Blog Post 3 -->
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <img src="/images/The Bund.jpg" class="card-img-top" alt="The Bund">
                <div class="card-body">
                    <p class="card-author">Posted by Rida Siddique, 12/12/2024</p>
                    <h5 class="card-title">12 Hours in Shanghai</h5>
                    <p class="card-text">The most unforgettable skyline by The Bund to the world's longest shopping district, Nanjing Road, here's why Shanghai should be your next travel destination.</p>
                    <a href="/post3" class="btn btn-dark">Read More</a>
                </div>
            </div>
        </div>

        <!-- Blog Post 4 -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <img src="/images/arashiyama.jpg" class="card-img-top" alt="arashiyama">
                <div class="card-body">
                    <p class="card-author">Posted by Rida Siddique, 15/12/2024</p>
                    <h5 class="card-title">The Charms of Kyoto, Japan</h5>
                    <p class="card-text">From Arashiyama to the Gion district, here's why Kyoto should be at the top of your list of places to hit up when exploring Japan's Kansai region.</p>
                    <a href="/post4" class="btn btn-dark">Read More</a>
                </div>
            </div>
        </div>

        <!-- Blog Post 5 -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <img src="/images/Lago di Carezza.jpg" class="card-img-top" alt="Lago di Carezza">
                <div class="card-body">
                    <p class="card-author">Posted by Rida Siddique, 12/09/2024</p>
                    <h5 class="card-title">Exploring The Dolomites in Northeastern Italy</h5>
                    <p class="card-text">Beautiful emerald green waters to the iconic three peaks of Laveredo, there's so much to see in the Dolomites.</p>
                    <a href="/post5" class="btn btn-dark">Read More</a>
                </div>
            </div>
        </div>

        <!-- Blog Post 6 -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <img src="/images/Nara.jpg" class="card-img-top" alt="Nara">
                <div class="card-body">
                    <p class="card-author">Posted by Rida Siddique, 20/12/2024</p>
                    <h5 class="card-title">A day trip to Nara, Japan</h5>
                    <p class="card-text">Less than an hour away by train from Kyoto and Osaka, Nara is the perfect place to spend a wholesome day taking in the natural beauty, eating fresh mochi and roaming around the deer park!</p>
                    <a href="/post6" class="btn btn-dark">Read More</a>
                </div>
            </div>
       </div>

    </div>
</div>

        <!-- Footer -->

        <%- include("footer.ejs") %> 
</body>
</html>